
body {
  color: #000000;
  background-color: #eae1ce;
  margin: 0;
  font-family: Raleway;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  cursor:none
}

#cursor{
    width: 7px;
    height: 7px;
    background-color:#ec3b1f;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #ec3b1f;
    transform: translate(-50%,-50%);
    pointer-events: none;
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}
header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#right {
    display: flex;
    gap: 20px
}
.logo {
    font-size: 1.1em;
    padding: 15px;
    height: 15px;
    width: 15px;
    font-weight: 900;
    color: #ec3b1f;
    border: solid black 2px;
    border-radius: 0.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    line-height: 0.8em;
    transition: 0.2s;
}
.logo:hover {
border-color: #ff9a8a;
color: #ec3b1f;
}
.headerBtn {
    padding: 0;
    font-family: Raleway;
    font-size: 1.1em;
    background: none;
    border: none;
    font-weight: 100;
    cursor: none;
    transition: 0.1s;
    text-decoration: underline 0.11em #00000000;
    display: inline-block;
    position: relative;
}
.headerBtn:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    border-radius: ;
    background-color: #0000008c;
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
}
.headerBtn:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.headerBtn:hover {
    color: #ec3b1f;
}

#home {
    margin: 0 20px;
    display: flex;
    flex: 1;
   align-items: center;
   justify-content: space-evenly;
}
#homeLeft {
    width: 25em;
}
#homeRight {
    max-width: 300px;
    display: flex;
    flex: 1 1 auto
}
img {
    max-width: 100%;
}
#homeTitle {
    font-size: 2em;
    color: #ec3b1f;
    text-decoration: underline 2px 2px;
    margin:0;
}

#homeTitle2, #separator {
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: bolder;
    line-height: 0px;
}
#separator {
    margin: 0;
}
#homeTxt1 {
    line-height: 1.4em;
    font-weight: 100;
}