#home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
#home1 {
  width: 100%;
  min-height: 25em;
  display: flex;
  background-attachment: fixed;
  background-position: center -200px;
  background-repeat: no-repeat;
  background-size: cover;
}
#home2 {
  margin: 3em 3em 0em 3em;
  max-width: 90em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  #homeLeft {
    height: 20em;
    min-width: 5em;
    max-width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    #homeTitle {
      font-size: 4em;
      color: #ec3b1f;
      font-family: "modernist bold";
    }
    #homeTitle2,
    #separator {
      margin-bottom: 0px;
      font-size: 4em;
      font-family: "modernist bold";
    }
    #separator {
      margin: 0;
      height: 40px;
      line-height: 0;
    }
    #homeTxt1 {
      margin-top: 1em;
      line-height: 1.4em;
    }
  }
  #homeRight {
    height: 20em;
    max-width: 30em;
    min-width: 20em;
    flex: 1 1 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    .homeImg {
      max-width: 100%;
      filter: drop-shadow(0px 7px 5px rgba(34, 34, 34, 0.596));
    }
  }
}

#home5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  //   height: 20em;
  //   margin: 8em 0;
  #home5Images {
    max-width: 100%;
    // margin: 0 2em;
    min-height: 25em;
    display: flex;
    //   gap: 1em;
    justify-content: space-between;
    align-items: center;
  }
  #sushi-plate,
  #sushi-chef {
    margin: 0 1em;
    display: flex;
    min-width: 10em;
    max-width: 30em;
    border-radius: 0.2em;
    box-shadow: rgba(0, 0, 0, 0.411) 0px 0px 5px;
    transition: 0.5s;
    flex: 1 1;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.63) 0px 0px 10px;
      min-width: 40em;
    }
  }
}
@media only screen and (max-width: 910px) {
  #home5 {
    height: 50em;
    margin: 0;
    #home5Images {
        gap: 1em;
        max-height: 40em;
      flex-direction: column;
      width: auto;
    }
    #sushi-plate,
    #sushi-chef {
        min-width: 1em;
    }

  }
}
#home3 {
  font-family: "modernist bold";
  font-size: 3em;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.397) 0px 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5em;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home4 {
  width: 100%;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;

  #map {
    border-style: none;
    height: 20em;
    width: 70em;
    margin: 0 4em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.288) 0px 0px 10px;
  }
}
