#story {
  //   height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .contentTitle,
  .separator {
    color: #ec3b1f;
    font-size: 2em;
    font-family: "modernist bold";
    margin-bottom: 0;
  }
  .separator {
    color: black;
    margin: 0;
    height: 40px;
    line-height: 0;
    font-size: 3em;
  }
  .contentText {
  }
  #emptyDiv {
    background-position: center -250px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 10em;
  }
  #story1 {
    margin: 2em;
    // background-color: #fcf6ed;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 3em;
    flex-wrap: wrap;
    #content1Main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20em;
      margin: 2em;
      #content1Text {
        text-align: justify;
      }
      #content1Title {
        text-align: center;
      }
    }
    #content1Video {
      margin: 2em;
      border-radius: 0.3em;
      box-shadow: rgba(0, 0, 0, 0.418) 0 0 5px;
      height: 17em;
      max-width: 30em;
      display: flex;
      flex: 1 1 20em;
      #video1 {
        width: 100%;
      }
    }
  }
  #story2 {
    width: 100%;
    height: auto;
    background-color: #e77766;
    display: flex;
    justify-content: space-evenly;
    #content2Image {
      width: 60%;
      height: 100%;
      background-position: center;
      background-size: cover;
      //   background-attachment: fixed;
      background-repeat: no-repeat;
    }
    #content2Main {
      margin: 1em 0em;
      padding: 1em;
      min-width: 12em;
      max-width: 25em;
    //   height: 100%;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #content2Text {
        text-align: justify;
      }
      #content2Title {
        color: white;
        text-align: center;
      }
    }
  }
}
